.floating-button {
    position:fixed;
    bottom:40px;
    right:40px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.hidden {
    display: none;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body {
    max-height: 65vh;
    overflow-y: auto;
}

.top-right-action-btn {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(16px, 20px, 0px);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
